body
 {
  background-image: url("../img/04.jpeg");
  background-repeat:no-repeat;
 }
#full
 {
   background-color:#333E42;
   height:70px;
   position:fixed;
   top:0;
   left:0;
   width:100%;
 }
#header
 {
   background-color:black;
   position:fixed;
   top:0;
   left:0;
   height:10%;
   width:100%;
   z-index:1999;
 }
#lg
 {
   position:absolute;
   left:5%;
   height:50%;
   width:30%;
 }
 #li
  {
    background-color:#272E30;
    position:absolute;
    left:30%;
    width:70%;
    height:50%;
    top:40%;
    font-size:25px;
  }
 a
  {
   color:white;
   text-decoration:none;
  }
#ab
 {
   position:fixed;
   top:80px;
   left:60px;
   height:10%;
   width:90%;
 }

#tx
 {
  background-color:#333E42;
  position:fixed;
  top:38%;
  left:60px;
  width:90%;
  font-size:20px;
  color:white;
  word-spacing:10px; 
  height:54%;
  opacity:0.7
 }
#abo
 {
  position:fixed;
  top:92%;
  left:48%;
  width:90%;
  font-size:20px;
  color:black;
  word-spacing:10px; 
  height:55%;;
  opacity:0.7
 }
 #im
  {
   position:fixed;
   top:250px;
   left:60px;
   height:40%;
   width:90%;
  }
